@model IEnumerable<TeamProject.Models.Tour>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrival)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDiscription)
                    <a asp-action="Details" asp-route-id="@item.TourId">View More</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TourId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TourId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TourId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

<!-- Projects-->
<section class="section section-lg bg-gray-lighter text-center novi-background bg-cover">
    <div class="container container-wide">
        @* Title and title description *@
        <div class="row row-fix row-50 justify-content-md-center">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h3>Destinations</h3>
                <div class="divider divider-decorate"></div>
                <p class="font-weight-bold">Check out our deals!!</p>
            </div>
        </div>
        <div class="row row-50" data-lightgallery="group">
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/Paris.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/paris570x370.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">France, Paris</div>
                    <p class="card-text font-weight-bold">The French capital is one that has been drawing visitors for centuries. From its wonderful historic monuments to its exceptional cuisine, it is a destination unlike any other. Wander in and out of museums, cafes, farmers markets, beautiful gardens and enjoy the romance of the city.</p>
                    <br />
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/BostonMain.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/boston570x370.png" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">USA, Boston</div>
                    <p class="card-text font-weight-bold">The United States is the perfect destination for scenic drives, delicious food, cosmopolitan city life, wilderness, cultural diversity, beautiful beaches, and so much more.</p>
                    <br />
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/Vinece.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/Venice570x370.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Italy, Venice</div>
                    <p class="card-text font-weight-bold">There’s something extremely romantic and charming about Venice. Imagine strolling down alleyways, eating authentic gelato while window shopping for Italian leather handbags. Whether it’s the Basilica di San Marco located in the heart of the Piazza San Marco, the Rialto Bridge, or the Ponte dei Sospiri, there is so much history to be seen on this magical little island, it can seem very overwhelming.</p>
                    <br />
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            @*Dominicana*@
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/Spain.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/spain570x370.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Spain</div>
                    <p class="card-text font-weight-bold">From Madrid to Barcelona to Girona to Bilbao, it’s such a vibrant country. Whether you hit the slopes of the Sierra Nevada, wander the vineyards of Rioja, or worship the sun in the Canary Islands, Spain is guaranteed to impress you any day of the week.</p>
                    <br />
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            @*Jamaica*@
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/sharm-el-sheikh.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/egypt.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">Egypt</div>
                    <p class="card-text font-weight-bold">Springtime in Egypt is one of the most popular times to visit. The weather is warmer but it’s still quite pleasant. April and May are also considered to be the best months to enjoy the Red Sea for diving, swimming, and soaking up the Egyptian sun.</p>
                    <br />
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            @*Huntington Beach*@
            <div class="card col-sm-12 col-md-6 col-lg-4">
                <a class="gallery-item titled-gallery-item" href="~/images/UK.jpg" data-lightgallery="item">
                    <div class="gallery-item-image">
                        <figure>
                            <img src="~/images/london570x370.jpg" alt="" width="570" height="380" />
                        </figure>
                        <div class="caption">
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div class="titled-gallery-caption text-center">UK, London</div>
                    <p class="card-text font-weight-bold">The capital of the United Kingdom is a thriving multicultural metropolis. The contrast between the spectacular historic sights and the lively cultural scene makes a visit to London an interesting and exciting adventure. Wander through St. James park, visit Westminster Abbey, explore the streets of Shoreditch, and take a ride up the River Thames. London's incredible shopping, endless sights, friendly locals, and vibrant nightlife offer something for every kind of traveler.</p>
                    <br />
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">BUY IT!</a>
                </div>
            </div>
            <div class="col-12"><a class="button button-secondary button-nina">More destinations will be available soon, Keep tracking us!</a></div>
        </div>
    </div>
</section>






